<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="app.py" />
            </files>
        </defaultDocument>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Users\edwar\Documents\Proyectos\Car-Detection\car-detection-backend" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
</configuration>
